<ion-header>
  <ion-toolbar>
    <ion-title>chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div style="width: 100%;
              padding-left: 10px;
              padding-right: 30px;
              position: relative;">
    <div class="user-avatar" >
      <img src="assets/images/user-avatar.png" />
    </div>
    <div class="right-chat-bubble right-chat-bubble--right">
      Hi, I am Nicola.How are you? What are you doing?
    </div>
    <p style="float: right;
              margin-right: 15px;
              margin-top: -25px;">08:07</p>
  </div>

  <div  style="width: 100%;
              padding-left: 10px;
              padding-right: 30px;
              position: relative;">
    <div class="left-chat-bubble left-chat-bubble--left">
      Hi, I am Nicola.How are you? What are you doing?
    </div>
    <p style="float: left;
              margin-left: 25px;
              margin-top: -25px;">08:07</p>
  </div>

</ion-content>